.faq-page {
	
	.block-with-info {
		max-width: 900px;
	}
	
	.block-for-search {
		.btn {
			width: 195px;
		}
	}
	
	.blocks-faq {
		.panel {
			background-color: $color-white;
			border: 1px solid $color-blue-11;
			border-radius: 5px;
			box-shadow: 0 5px 15px 0 rgba($color-blue-2, 0.1);
			box-sizing: border-box;
			cursor: pointer;
			margin-bottom: 20px;
			overflow: hidden;
			transition: $transition-speed;
			
		}
				
		h4 {
			font-size: 18px;
			line-height: 20px;
			margin: 0;
		}
		
		p {
			font-size: 15px;
			font-weight: normal;
			line-height: 25px;
			margin: 0;
		}
				
		.panel-heading {
			background-color: $color-blue-11;
			border: 0;
			cursor: pointer;
			padding: 0;
			
			h4 {
				color: $color-white;
				padding: 20px;
			}
		}
		.panel-body {
			background-color: rgba($color-blue-1, 0.5);
			border: 0;
			padding: 20px 20px 20px;
			
			p {
				color: $color-blue-2;
			}
		}
				
		.form-group {
			margin: 0;
			padding: 0;
		}
		
	}
	
}