<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Roger Ying">
    <link rel="shortcut icon"
          href="../../static/img/fav.png?cacheId=${view.build_cache_id('/static/img/fav.png')}">

    <title>mDash AI</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="../../static/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css">

    <link href="../../static/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/scss/style.css" rel="stylesheet">

</head>
<body>

<header class="section-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="../../static/img/mdash_logo_color.png" srcset="../../static/img/mdash_logo_color@2x.png 2x, ../../static/img/mdash_logo_color@3x.png 3x" />
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Try it now!</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">Features</div>

                        <ul>
                            <li>
                                <a href="#" class="nav-link-2">Feature List</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link-2">Watch Demo</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link-2">Comparison</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <span class="separator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="section-page authorization-page error-page">
    <div class="section-page-content">
        <div class="container">


            <div class="block-authorization">

                <div class="block-with-info text-center">

                    <h1> 404 </h1>
                    <h2> Page not found </h2>
                    <h4>report to customer support</h4>

                    <div class="clearfix mt-5">
                        <a href="/" class="btn btn-submit btn-blue mb-0"> Go Home </a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>

<footer class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="top-block-logo">
                    <a href="#" class="btn btn-link btn-logo">
                        <img src="../../static/img/mdash_logo_white.png" srcset="../../static/img/mdash_logo_white@2x.png 2x, ../../static/img/mdash_logo_white@3x.png 3x" />
                    </a>
                </div>
                <div class="row">
                    <p class="col-12 col-lg-9">
                        We created this website because global gifting is so hard! Giving away freebies, lacks engagement with your customers – so give them a digital REAL GIFT and keep track of your potential clients!  It’s as easy as sending them a link!
                        <a href="#" class="btn btn-link green">Learn more about mDash.</a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4>Navigate</h4>
                        <ul class="links">
                            <li>
                                <a href="#" class="btn btn-link">Home</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">About</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Try it now!</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Features</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Pricing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="pl-29">Contact us</h4>
                        <ul class="links">
                            <li>
                                <a href="tel:1-800-MDASH-SUPPORT" class="btn btn-link"><img src="../../static/img/phone.png" srcset="../../static/img/phone@2x.png 2x, ../../static/img/phone@3x.png 3x" /> 1-800-MDASH-SUPPORT</a>
                            </li>
                            <li>
                                <a href="mailto:support@mdash.ai" class="btn btn-link"><img src="../../static/img/email.png" srcset="../../static/img/email@2x.png 2x, ../../static/img/email@3x.png 3x" /> support@mdash.ai</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">Copyright <i class="la la-copyright"></i> 2019 <span>mDash Al Technologies inc.</span></div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
</body>
</html>