<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Roger Ying">
    <link rel="shortcut icon"
          href="../../static/img/fav.png?cacheId=${view.build_cache_id('/static/img/fav.png')}">

    <title>mDash AI</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="../../static/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css">

    <link href="../../static/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/scss/style.css" rel="stylesheet">

</head>
<body>

<header class="section-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="../../static/img/mdash_logo_color.png" srcset="../../static/img/mdash_logo_color@2x.png 2x, ../../static/img/mdash_logo_color@3x.png 3x" />
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Try it now!</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">Features</div>

                        <ul>
                            <li>
                                <a href="#" class="nav-link-2">Feature List</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link-2">Watch Demo</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link-2">Comparison</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <span class="separator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="section-page new-order-page authorization-page faq-page">
    <div class="section-page-content">
        <div class="container">
            <div class="block-authorization">

                <div class="block-with-info">

                    <h1 class="text-center">Frequently Asked Questions</h1>

                    <div class="block-for-search">
                        <h3 class="text-center mb-5">How can we help you?</h3>
                        <div class="form-for-search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter..." value="kindle fire">
                            </div>
                            <button class="btn btn-submit btn-green">Search</button>
                        </div>
                    </div>

                    <div class="blocks-faq">

                        <div class="blocks-faq-show">
                            <div class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1" aria-expanded="true">
                                    <h4 class="panel-title">What is a Dash?</h4>
                                </div>
                                <div id="question1" class="panel-collapse collapse in" style="" aria-expanded="true">
                                    <div class="panel-body">
                                        <p>A Dash  is a digital cryptographically secured fingerprint of an item that’s secured that’s embedded within a link. When a user click’s the link their item is realized into their Amazon account via secured cryptography to unlock the item.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                                    <h4 class="panel-title">Can we refunds?</h4>
                                </div>
                                <div id="question2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Yes, refunds will take 2-4 weeks to process and charge 5-10% of remaining amount.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                                    <h4 class="panel-title">How do clients claim items?</h4>
                                </div>
                                <div id="question3" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Clients will reach a landing page, where they fill in their details (including security measures), they are securely sent a link to their claim page via e-mail, where they can claim the item.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                                    <h4 class="panel-title">How many items can a person claim per campaign?</h4>
                                </div>
                                <div id="question4" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>At this time, each campaign is restricted to one Amazon account per campaign.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                                    <h4 class="panel-title">What security measures can I put in place?</h4>
                                </div>
                                <div id="question5" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>You can make redemption codes (unique or same code) for your users to claim OR only make it that only e-mail addresses set by you can claim the rewards. We will be rolling out different ways to claim, including SMS etc… Furthermore, we have added [cyber security measures] and are GDPR compliant and understand your data privacy is key.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                                    <h4 class="panel-title">What if prices change on items in Amazon?</h4>
                                </div>
                                <div id="question6" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Your client will have a credit for that item for the amount that was paid by you. e.g. if you credit him with $50, but there was a price change to $55, your client will have to pay $5 extra to claim the item. Alternatively, if the price goes to $45, then your client will have an extra $5 credit on the item.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                                    <h4 class="panel-title">Can I cover the shipping and taxes on the item for my client?</h4>
                                </div>
                                <div id="question7" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Unfortunately at this moment, no. Due to not being able to control where clients want their items to be shipped (local, overseas, shipping options), we recommend only covering the cost of the product.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                                    <h4 class="panel-title">What if the item I want is not fulfilled by Amazon?</h4>
                                </div>
                                <div id="question8" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>You would have to make sure that the 3rd Party seller on the marketplace has enough items in stock to fulfill your campaign.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                                    <h4 class="panel-title">What if Amazon runs out of stock of an item?</h4>
                                </div>
                                <div id="question9" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Your clients will still have a credit for the item, and once the item is back in stock then he or she can ship the item.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
                                    <h4 class="panel-title">Why are there different charges in payments in credit card and bank transfer?</h4>
                                </div>
                                <div id="question10" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Due to the different charges in payment gateways, some charge less than others for different forms of payments, unfortunately these costs are unavoidable.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default ">
                                <div class="panel-heading collapsed accordion-toggle question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11">
                                    <h4 class="panel-title">How long will it take for my order to be ready?</h4>
                                </div>
                                <div id="question11" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Right now, in beta version, we estimate between 1-5 days, we will improve upon this in the near future. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<footer class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="top-block-logo">
                    <a href="#" class="btn btn-link btn-logo">
                        <img src="../../static/img/mdash_logo_white.png" srcset="../../static/img/mdash_logo_white@2x.png 2x, ../../static/img/mdash_logo_white@3x.png 3x" />
                    </a>
                </div>
                <div class="row">
                    <p class="col-12 col-lg-9">
                        We created this website because global gifting is so hard! Giving away freebies, lacks engagement with your customers – so give them a digital REAL GIFT and keep track of your potential clients!  It’s as easy as sending them a link!
                        <a href="#" class="btn btn-link green">Learn more about mDash.</a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4>Navigate</h4>
                        <ul class="links">
                            <li>
                                <a href="#" class="btn btn-link">Home</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">About</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Try it now!</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Features</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Pricing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="pl-29">Contact us</h4>
                        <ul class="links">
                            <li>
                                <a href="tel:1-800-MDASH-SUPPORT" class="btn btn-link"><img src="../../static/img/phone.png" srcset="../../static/img/phone@2x.png 2x, ../../static/img/phone@3x.png 3x" /> 1-800-MDASH-SUPPORT</a>
                            </li>
                            <li>
                                <a href="mailto:support@mdash.ai" class="btn btn-link"><img src="../../static/img/email.png" srcset="../../static/img/email@2x.png 2x, ../../static/img/email@3x.png 3x" /> support@mdash.ai</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">Copyright <i class="la la-copyright"></i> 2019 <span>mDash Al Technologies inc.</span></div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
</body>
</html>