<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Roger Ying">
    <link rel="shortcut icon"
          href="../../static/img/fav.png?cacheId=${view.build_cache_id('/static/img/fav.png')}">

    <title>mDash AI</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="../../static/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css">

    <link href="../../static/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/scss/style.css" rel="stylesheet">

</head>
<body>

<header class="section-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="../../static/img/mdash_logo_color.png" srcset="../../static/img/mdash_logo_color@2x.png 2x, ../../static/img/mdash_logo_color@3x.png 3x" />
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Try it now!</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">Features</div>

                        <ul>
                            <li>
                                <a href="#" class="nav-link-2">Feature List</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link-2">Watch Demo</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link-2">Comparison</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <span class="separator"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="section-page authorization-page set-page">
    <div class="section-page-content">
        <div class="container">

            <h1>Set Restricted E-mails for Order: ${order_id}</h1>

            <div>
                <p><strong>Order:</strong> ${order_id}    <a href="/links/outstanding_links/${order_id}" class="btn btn-link">Back to Links Page</a></p>
                <p><strong>Order item url:</strong> ${order_url}</p>
                <p><strong>Item:</strong> ${item}</p>
                <p><strong>Total_items_left:</strong> ${total_links-used_links}</p>
                <p><strong>This item has already set restricted e-mails:</strong> {Yes / No / Cancel}</p>

                <form action="/links/add_restricted_emails/${order_id}" method="POST" class="mt-2">
                    <pre tal:condition="restricted_emails">
                        <div tal:repeat="r restricted_emails">${r.email} , remaining links ${r.allowed_remaining_links}</div>
                    </pre>

                    <div class="note" tal:condition="error mb-4">${error}</div>

                    <p class="mt-4">There will be a table with e-mail and remaining number of items allowed
                        to be claimed</p>

                    <div class="form-group">
                        <textarea name="restricted_emails" rows="10"
                                  placeholder="Please copy and paste e-mails into this text box (use commas or new line to separate)"
                                  class="form-control form-control-textarea"></textarea>
                    </div>

                    <div class="form-group">
                        <input name="restricted_number" required type="number" value="" placeholder="How many links can be claimed by each e-mail?" class="form-control">
                    </div>

                    <p class="mb-4"><strong>#Note:</strong> Do not add duplicate e-mails as each e-mail can claim one item per campaign</p>

                    <button type="submit" class="btn btn-submit btn-green">
                        Add Restricted E-mails
                    </button>
                </form>
                <br>
                <form action="/links/delete_restricted_emails/${order_id}" method="POST">
                    <button type="submit" class="btn btn-submit btn-red w-100">
                        Delete All Restricted E-mails
                    </button>
                    <div class="note grey-text"><strong>*note:</strong> probably need some sort of human-check</div>
                </form>
            </div>

        </div>
    </div>

</section>

<footer class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="top-block-logo">
                    <a href="#" class="btn btn-link btn-logo">
                        <img src="../../static/img/mdash_logo_white.png" srcset="../../static/img/mdash_logo_white@2x.png 2x, ../../static/img/mdash_logo_white@3x.png 3x" />
                    </a>
                </div>
                <div class="row">
                    <p class="col-12 col-lg-9">
                        We created this website because global gifting is so hard! Giving away freebies, lacks engagement with your customers – so give them a digital REAL GIFT and keep track of your potential clients!  It’s as easy as sending them a link!
                        <a href="#" class="btn btn-link green">Learn more about mDash.</a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4>Navigate</h4>
                        <ul class="links">
                            <li>
                                <a href="#" class="btn btn-link">Home</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">About</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Try it now!</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Features</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-link">Pricing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="pl-29">Contact us</h4>
                        <ul class="links">
                            <li>
                                <a href="tel:1-800-MDASH-SUPPORT" class="btn btn-link"><img src="../../static/img/phone.png" srcset="../../static/img/phone@2x.png 2x, ../../static/img/phone@3x.png 3x" /> 1-800-MDASH-SUPPORT</a>
                            </li>
                            <li>
                                <a href="mailto:support@mdash.ai" class="btn btn-link"><img src="../../static/img/email.png" srcset="../../static/img/email@2x.png 2x, ../../static/img/email@3x.png 3x" /> support@mdash.ai</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">Copyright <i class="la la-copyright"></i> 2019 <span>mDash Al Technologies inc.</span></div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
</body>
</html>